{% extends 'Ceres::Homepage.Homepage' %}

{% set homepageFirstSlideTitleDE  = config("CeresDark.homepage.homepageFirstSlideTitleDE") %}
{% set homepageFirstSlideTitleEN  = config("CeresDark.homepage.homepageFirstSlideTitleDE") %}
{% set homepageSecondSlideTitleDE  = config("CeresDark.homepage.homepageSecondSlideTitleDE") %}
{% set homepageSecondSlideTitleEN  = config("CeresDark.homepage.homepageSecondSlideTitleDE") %}


{% block ThemeHomepage %}

<div class="home container-max page-content">
    
    <div class="cmp cmp-hero">

        <div class="hero-main">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <a class="hero-category" href="">
                            <img src="http://lorempixel.com/output/nature-q-g-800-450-6.jpg" alt="First slide" class="img-fluid">
                            <div class="hero-category-inner">
                                <h4 class="hero-category-headline">
                                    {% if services.sessionStorage.getLang() == "de" %}
                                        {{ homepageFirstSlideTitleDE }}
                                    {% elseif services.sessionStorage.getLang() == "en" %}
                                        {{ homepageFirstSlideTitleEN }}
                                    {% endif %}
                                </h4>
                                <div class="hero-category-cta">
                                    {{ trans("CeresDark::Template.homepageCTA") }}
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a class="hero-category" href="">
                            <img src="http://lorempixel.com/output/nature-q-g-800-450-1.jpg" alt="Second slide" class="img-fluid">
                            <div class="hero-category-inner">
                                <h4 class="hero-category-headline">
                                    {% if services.sessionStorage.getLang() == "de" %}
                                        {{ homepageSecondSlideTitleDE }}
                                    {% elseif services.sessionStorage.getLang() == "en" %}
                                        {{ homepageSecondSlideTitleEN }}
                                    {% endif %}
                                </h4>
                                <div class="hero-category-cta">
                                    {{ trans("CeresDark::Template.homepageCTA") }}
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                </ol>

            </div>
        </div>

        <div class="hero-xtras">
            <a class="hero-category" href="">
                <img src="http://lorempixel.com/output/nature-q-g-400-300-4.jpg" alt="First slide">
                <div class="hero-category-inner">
                    <h4 class="hero-category-headline">
                        {{ trans("CeresDark::Template.homepageCatTitle") }}
                    </h4>

                </div>
            </a>
            <a class="hero-category" href="">
                <img src="http://lorempixel.com/output/nature-q-g-400-300-10.jpg" alt="First slide">

                <div class="hero-category-inner">
                    <h4 class="hero-category-headline">
                        {{ trans("CeresDark::Template.homepageCatTitle") }}
                    </h4>

                </div>
            </a>
        </div>

    </div>

    <!-- SALE -->

    <div class="row prop-row m-y-2">
        <div class="col-xs-12">
            <div class="prop-xs-2-1 prop-sm-4-1 prop-md-6-1">
                <div class="prop-inner">
                    <a class="featured-sale" href="">
                        <img src="http://lorempixel.com/output/abstract-q-c-1200-600-4.jpg" alt="First slide">
                        <div class="featured-category-inner">
                            <h4 class="featured-category-headline">
                                {{ trans("CeresDark::Template.homepageSaleTitle") }}
                            </h4>

                        </div>
                    </a>
                </div>
            </div>
        </div>    
    </div>

    <!-- END SALE -->

    <div class="m-b-2">
        <h4 class="section-header">{{ trans("CeresDark::Template.homepageNewProducts") }}</h4>
        <!-- crosssell start -->
        <div class="row">
            <div class="col-xs-12">
                <ul class="product-list row grid">
                                            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            



<article class="cmp cmp-product-thumb cmp-product-thumb--grid">
    <div class="thumb-inner">
        <div class="thumb-background"></div>

        <div>

        <div class="btn-group" role="group" aria-label="Thumb Control">
            <button type="button" class="btn btn-outline-primary">
                <i class="fa fa-cart-plus fa-lg" aria-hidden="true"></i>
            </button>
                                                            </div>
    </div>

    

        <div class="thumb-image">
            <div class="square-container">
                <div class="square-inner main-image">
                    <a href="/sessel-king-george/124/1022">
                        <img class="img-fluid lazy" data-original="https://fes-themes.plentymarkets-cloud01.com/item/images/124/370x450/124-Sessel-King-George.jpg" src="https://fes-themes.plentymarkets-cloud01.com/item/images/124/370x450/124-Sessel-King-George.jpg" style="display: block;">
                    </a>
                </div>
            </div>
        </div>

        <!-- STORE SPECIALS -->

        
            
            <div class="special-tags">
                
                    
                
                <span class="tag bg-success">
                    Top-Artikel
                </span>

            </div>
                <!-- ./STORE SPECIALS -->

        <!-- ITEM DETAILS -->
        <div class="thumb-content">
            <a href="/sessel-king-george/124/1022" class="thumb-title small">
                Sessel King George
            </a>
            <div class="thumb-meta">
                                

                <div class="prices">
                                            <a href="/sessel-king-george/124/1022">
                            <del class="crossprice">
                                245,00&nbsp;€
                            </del>
                        </a>
                    
                    <a href="/sessel-king-george/124/1022">
                        <div class="price">
                            222,00&nbsp;€
                        </div>
                    </a>
                </div>

                                
            </div>
        </div>
        <!-- ./ITEM DETAILS  -->
    </div>
</article>                        </li>
                                            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            



<article class="cmp cmp-product-thumb cmp-product-thumb--grid">
    <div class="thumb-inner">
        <div class="thumb-background"></div>

        <div>

        <div class="btn-group" role="group" aria-label="Thumb Control">
            <button type="button" class="btn btn-outline-primary">
                <i class="fa fa-cart-plus fa-lg" aria-hidden="true"></i>
            </button>
                                                            </div>
    </div>

    

        <div class="thumb-image">
            <div class="square-container">
                <div class="square-inner main-image">
                    <a href="/sessel-redlabel/125/1023">
                        <img class="img-fluid lazy" data-original="https://fes-themes.plentymarkets-cloud01.com/item/images/125/370x450/125-Sessel-RedLabel.jpg" src="https://fes-themes.plentymarkets-cloud01.com/item/images/125/370x450/125-Sessel-RedLabel.jpg" style="display: block;">
                    </a>
                </div>
            </div>
        </div>

        <!-- STORE SPECIALS -->

        
            
            <div class="special-tags">
                
                                        
                                                                                                                
                
                <span class="tag bg-danger">
                    -12%
                </span>

            </div>
                <!-- ./STORE SPECIALS -->

        <!-- ITEM DETAILS -->
        <div class="thumb-content">
            <a href="/sessel-redlabel/125/1023" class="thumb-title small">
                Sessel RedLabel
            </a>
            <div class="thumb-meta">
                                

                <div class="prices">
                                            <a href="/sessel-redlabel/125/1023">
                            <del class="crossprice">
                                190,00&nbsp;€
                            </del>
                        </a>
                    
                    <a href="/sessel-redlabel/125/1023">
                        <div class="price">
                            169,00&nbsp;€
                        </div>
                    </a>
                </div>

                                
            </div>
        </div>
        <!-- ./ITEM DETAILS  -->
    </div>
</article>                        </li>
                                            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            



<article class="cmp cmp-product-thumb cmp-product-thumb--grid">
    <div class="thumb-inner">
        <div class="thumb-background"></div>

        <div>

        <div class="btn-group" role="group" aria-label="Thumb Control">
            <button type="button" class="btn btn-outline-primary">
                <i class="fa fa-cart-plus fa-lg" aria-hidden="true"></i>
            </button>
                                                            </div>
    </div>

    

        <div class="thumb-image">
            <div class="square-container">
                <div class="square-inner main-image">
                    <a href="/sessel-relaxed-stacked-stones/126/1024">
                        <img class="img-fluid lazy" data-original="https://fes-themes.plentymarkets-cloud01.com/item/images/126/370x450/126-Sessel-Relaxed-Stacked-Stones.jpg" src="https://fes-themes.plentymarkets-cloud01.com/item/images/126/370x450/126-Sessel-Relaxed-Stacked-Stones.jpg" style="display: block;">
                    </a>
                </div>
            </div>
        </div>

        <!-- STORE SPECIALS -->

                <!-- ./STORE SPECIALS -->

        <!-- ITEM DETAILS -->
        <div class="thumb-content">
            <a href="/sessel-relaxed-stacked-stones/126/1024" class="thumb-title small">
                Sessel Relaxed Stacked Stones
            </a>
            <div class="thumb-meta">
                                

                <div class="prices">
                                            <a href="/sessel-relaxed-stacked-stones/126/1024">
                            <del class="crossprice">
                                350,00&nbsp;€
                            </del>
                        </a>
                    
                    <a href="/sessel-relaxed-stacked-stones/126/1024">
                        <div class="price">
                            329,00&nbsp;€
                        </div>
                    </a>
                </div>

                                
            </div>
        </div>
        <!-- ./ITEM DETAILS  -->
    </div>
</article>                        </li>
                                            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            



<article class="cmp cmp-product-thumb cmp-product-thumb--grid">
    <div class="thumb-inner">
        <div class="thumb-background"></div>

        <div>

        <div class="btn-group" role="group" aria-label="Thumb Control">
            <button type="button" class="btn btn-outline-primary">
                <i class="fa fa-cart-plus fa-lg" aria-hidden="true"></i>
            </button>
                                                            </div>
    </div>

    

        <div class="thumb-image">
            <div class="square-container">
                <div class="square-inner main-image">
                    <a href="/sofa-2-sitzer-sunflower/127/1025">
                        <img class="img-fluid lazy" data-original="https://fes-themes.plentymarkets-cloud01.com/item/images/127/370x450/127-Sofa-2-Sitzer-Sunflower.jpg" src="https://fes-themes.plentymarkets-cloud01.com/item/images/127/370x450/127-Sofa-2-Sitzer-Sunflower.jpg" style="display: block;">
                    </a>
                </div>
            </div>
        </div>

        <!-- STORE SPECIALS -->

        
            
            <div class="special-tags">
                
                    
                
                <span class="tag bg-primary">
                    Neuheit
                </span>

            </div>
                <!-- ./STORE SPECIALS -->

        <!-- ITEM DETAILS -->
        <div class="thumb-content">
            <a href="/sofa-2-sitzer-sunflower/127/1025" class="thumb-title small">
                Sofa 2-Sitzer Sunflower
            </a>
            <div class="thumb-meta">
                                

                <div class="prices">
                                            <a href="/sofa-2-sitzer-sunflower/127/1025">
                            <del class="crossprice">
                                345,00&nbsp;€
                            </del>
                        </a>
                    
                    <a href="/sofa-2-sitzer-sunflower/127/1025">
                        <div class="price">
                            335,00&nbsp;€
                        </div>
                    </a>
                </div>

                                
            </div>
        </div>
        <!-- ./ITEM DETAILS  -->
    </div>
</article>                        </li>
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                    </ul>
            </div>
        </div>
    </div>

    <!-- CATEGORIES -->
    
    <div class="row prop-row m-b-2">
        <div class="col-xs-12 col-md-8">
            <div class="prop-xs-2-1">
                <div class="prop-inner">
                    <a class="featured-category" href="">
                        <img src="http://lorempixel.com/output/abstract-q-c-800-400-8.jpg" alt="First slide">
                        <div class="featured-category-inner">
                            <h4 class="featured-category-headline">
                                {{ trans("CeresDark::Template.homepageCatTitle") }}
                            </h4>

                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="prop-xs-1-1">
                <div class="prop-inner">
                    <a class="featured-category" href="">
                        <img src="http://lorempixel.com/output/abstract-q-c-800-400-10.jpg" alt="First slide">
                        <div class="featured-category-inner">
                            <h4 class="featured-category-headline">
                               {{ trans("CeresDark::Template.homepageCatTitle") }}
                            </h4>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    
        <div class="col-xs-6 col-md-4">
            <div class="prop-xs-1-1">
                <div class="prop-inner">
                    <a class="featured-category" href="">
                        <img src="http://lorempixel.com/output/abstract-q-c-800-400-5.jpg" alt="First slide">
                        <div class="featured-category-inner">
                            <h4 class="featured-category-headline">
                                {{ trans("CeresDark::Template.homepageCatTitle") }}
                            </h4>

                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="prop-xs-1-1">
                <div class="prop-inner">
                    <a class="featured-category" href="">
                        <img src="http://lorempixel.com/output/abstract-q-c-800-400-3.jpg" alt="First slide">
                        <div class="featured-category-inner">
                            <h4 class="featured-category-headline">
                                {{ trans("CeresDark::Template.homepageCatTitle") }}
                            </h4>

                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="prop-xs-1-1">
                <div class="prop-inner">
                    <a class="featured-category" href="">
                        <img src="http://lorempixel.com/output/nature-q-c-800-400-3.jpg" alt="First slide">
                        <div class="featured-category-inner">
                            <h4 class="featured-category-headline">
                                {{ trans("CeresDark::Template.homepageCatTitle") }}
                            </h4>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- END CATEGORIES -->

    <div class="m-b-2">
        <h4 class="section-header">{{ trans("CeresDark::Template.homepageCrosssellingTitle") }}</h4>
        <!-- crosssell start -->
        <div class="row">    
            <div class="col-xs-12">
               <ul class="product-list row grid">
                                            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            



<article class="cmp cmp-product-thumb cmp-product-thumb--grid">
    <div class="thumb-inner">
        <div class="thumb-background"></div>

        <div>

        <div class="btn-group" role="group" aria-label="Thumb Control">
            <button type="button" class="btn btn-outline-primary">
                <i class="fa fa-cart-plus fa-lg" aria-hidden="true"></i>
            </button>
                                                            </div>
    </div>

    

        <div class="thumb-image">
            <div class="square-container">
                <div class="square-inner main-image">
                    <a href="/sessel-king-george/124/1022">
                        <img class="img-fluid lazy" data-original="https://fes-themes.plentymarkets-cloud01.com/item/images/124/370x450/124-Sessel-King-George.jpg" src="https://fes-themes.plentymarkets-cloud01.com/item/images/124/370x450/124-Sessel-King-George.jpg" style="display: block;">
                    </a>
                </div>
            </div>
        </div>

        <!-- STORE SPECIALS -->

        
            
            <div class="special-tags">
                
                    
                
                <span class="tag bg-success">
                    Top-Artikel
                </span>

            </div>
                <!-- ./STORE SPECIALS -->

        <!-- ITEM DETAILS -->
        <div class="thumb-content">
            <a href="/sessel-king-george/124/1022" class="thumb-title small">
                Sessel King George
            </a>
            <div class="thumb-meta">
                                

                <div class="prices">
                                            <a href="/sessel-king-george/124/1022">
                            <del class="crossprice">
                                245,00&nbsp;€
                            </del>
                        </a>
                    
                    <a href="/sessel-king-george/124/1022">
                        <div class="price">
                            222,00&nbsp;€
                        </div>
                    </a>
                </div>

                                
            </div>
        </div>
        <!-- ./ITEM DETAILS  -->
    </div>
</article>                        </li>
                                            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            



<article class="cmp cmp-product-thumb cmp-product-thumb--grid">
    <div class="thumb-inner">
        <div class="thumb-background"></div>

        <div>

        <div class="btn-group" role="group" aria-label="Thumb Control">
            <button type="button" class="btn btn-outline-primary">
                <i class="fa fa-cart-plus fa-lg" aria-hidden="true"></i>
            </button>
                                                            </div>
    </div>

    

        <div class="thumb-image">
            <div class="square-container">
                <div class="square-inner main-image">
                    <a href="/sessel-redlabel/125/1023">
                        <img class="img-fluid lazy" data-original="https://fes-themes.plentymarkets-cloud01.com/item/images/125/370x450/125-Sessel-RedLabel.jpg" src="https://fes-themes.plentymarkets-cloud01.com/item/images/125/370x450/125-Sessel-RedLabel.jpg" style="display: block;">
                    </a>
                </div>
            </div>
        </div>

        <!-- STORE SPECIALS -->

        
            
            <div class="special-tags">
                
                                        
                                                                                                                
                
                <span class="tag bg-danger">
                    -12%
                </span>

            </div>
                <!-- ./STORE SPECIALS -->

        <!-- ITEM DETAILS -->
        <div class="thumb-content">
            <a href="/sessel-redlabel/125/1023" class="thumb-title small">
                Sessel RedLabel
            </a>
            <div class="thumb-meta">
                                

                <div class="prices">
                                            <a href="/sessel-redlabel/125/1023">
                            <del class="crossprice">
                                190,00&nbsp;€
                            </del>
                        </a>
                    
                    <a href="/sessel-redlabel/125/1023">
                        <div class="price">
                            169,00&nbsp;€
                        </div>
                    </a>
                </div>

                                
            </div>
        </div>
        <!-- ./ITEM DETAILS  -->
    </div>
</article>                        </li>
                                            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            



<article class="cmp cmp-product-thumb cmp-product-thumb--grid">
    <div class="thumb-inner">
        <div class="thumb-background"></div>

        <div>

        <div class="btn-group" role="group" aria-label="Thumb Control">
            <button type="button" class="btn btn-outline-primary">
                <i class="fa fa-cart-plus fa-lg" aria-hidden="true"></i>
            </button>
                                                            </div>
    </div>

    

        <div class="thumb-image">
            <div class="square-container">
                <div class="square-inner main-image">
                    <a href="/sessel-relaxed-stacked-stones/126/1024">
                        <img class="img-fluid lazy" data-original="https://fes-themes.plentymarkets-cloud01.com/item/images/126/370x450/126-Sessel-Relaxed-Stacked-Stones.jpg" src="https://fes-themes.plentymarkets-cloud01.com/item/images/126/370x450/126-Sessel-Relaxed-Stacked-Stones.jpg" style="display: block;">
                    </a>
                </div>
            </div>
        </div>

        <!-- STORE SPECIALS -->

                <!-- ./STORE SPECIALS -->

        <!-- ITEM DETAILS -->
        <div class="thumb-content">
            <a href="/sessel-relaxed-stacked-stones/126/1024" class="thumb-title small">
                Sessel Relaxed Stacked Stones
            </a>
            <div class="thumb-meta">
                                

                <div class="prices">
                                            <a href="/sessel-relaxed-stacked-stones/126/1024">
                            <del class="crossprice">
                                350,00&nbsp;€
                            </del>
                        </a>
                    
                    <a href="/sessel-relaxed-stacked-stones/126/1024">
                        <div class="price">
                            329,00&nbsp;€
                        </div>
                    </a>
                </div>

                                
            </div>
        </div>
        <!-- ./ITEM DETAILS  -->
    </div>
</article>                        </li>
                                            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            



<article class="cmp cmp-product-thumb cmp-product-thumb--grid">
    <div class="thumb-inner">
        <div class="thumb-background"></div>

        <div>

        <div class="btn-group" role="group" aria-label="Thumb Control">
            <button type="button" class="btn btn-outline-primary">
                <i class="fa fa-cart-plus fa-lg" aria-hidden="true"></i>
            </button>
                                                            </div>
    </div>

    

        <div class="thumb-image">
            <div class="square-container">
                <div class="square-inner main-image">
                    <a href="/sofa-2-sitzer-sunflower/127/1025">
                        <img class="img-fluid lazy" data-original="https://fes-themes.plentymarkets-cloud01.com/item/images/127/370x450/127-Sofa-2-Sitzer-Sunflower.jpg" src="https://fes-themes.plentymarkets-cloud01.com/item/images/127/370x450/127-Sofa-2-Sitzer-Sunflower.jpg" style="display: block;">
                    </a>
                </div>
            </div>
        </div>

        <!-- STORE SPECIALS -->

        
            
            <div class="special-tags">
                
                    
                
                <span class="tag bg-primary">
                    Neuheit
                </span>

            </div>
                <!-- ./STORE SPECIALS -->

        <!-- ITEM DETAILS -->
        <div class="thumb-content">
            <a href="/sofa-2-sitzer-sunflower/127/1025" class="thumb-title small">
                Sofa 2-Sitzer Sunflower
            </a>
            <div class="thumb-meta">
                                

                <div class="prices">
                                            <a href="/sofa-2-sitzer-sunflower/127/1025">
                            <del class="crossprice">
                                345,00&nbsp;€
                            </del>
                        </a>
                    
                    <a href="/sofa-2-sitzer-sunflower/127/1025">
                        <div class="price">
                            335,00&nbsp;€
                        </div>
                    </a>
                </div>

                                
            </div>
        </div>
        <!-- ./ITEM DETAILS  -->
    </div>
</article>                        </li>
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                    </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}