{% extends 'Ceres::Homepage.Homepage' %}
{% set lang         = services.sessionStorage.getLang() %}

{% set homepageTopsellerID  = config("CeresRockstar.homepage.homepageTopsellerID") %}
{% set homepageHeadlineDE  = config("CeresRockstar.homepage.homepageHeadlineDE") %}
{% set homepageHeadlineEN  = config("CeresRockstar.homepage.homepageHeadlineEN") %}
{% set homepageSublineDE  = config("CeresRockstar.homepage.homepageSublineDE") %}
{% set homepageSublineEN  = config("CeresRockstar.homepage.homepageSublineEN") %}
{% set homepageSectionHeadingDE  = config("CeresRockstar.homepage.homepageSectionHeadingDE") %}
{% set homepageSectionHeadingEN  = config("CeresRockstar.homepage.homepageSectionHeadingEN") %}

{% set paginatedResultTop      = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.categoryList, {'categoryId': {{ homepageTopsellerID }}, 'page':1, 'items':8, 'facets': facetParams, 'sorting': itemSort}) %}
{% set itemListTop          = paginatedResultTop.documents %}

{% block ThemeHomepage %}

{{ component( "Ceres::ItemList.Components.ItemList") }}
{{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
{{ component( "Ceres::Basket.Components.AddToBasket" ) }}

<div class="home container-max">


    <div class="row teaser">
        <div class="col-xs-12 text-xs-center">
            <i class="fa fa-bolt fa-5x" aria-hidden="true"></i>
            <h1>
                {% if services.sessionStorage.getLang() == "de" %}
                    {{ homepageHeadlineDE }}
                {% elseif services.sessionStorage.getLang() == "en" %}
                    {{ homepageHeadlineEN }}
                {% endif %}
            </h1>
            <h3>
                {% if services.sessionStorage.getLang() == "de" %}
                    {{ homepageSublineDE }}
                {% elseif services.sessionStorage.getLang() == "en" %}
                    {{ homepageSublineEN }}
                {% endif %}
            </h3>
        </div>
    </div>
    <div class="row page-content categoriegrid">
        <div class="col-xs-12 p-y-2">
            <h1 class="m-b-2">
                {% if services.sessionStorage.getLang() == "de" %}
                    {{ homepageSectionHeadingDE }}
                {% elseif services.sessionStorage.getLang() == "en" %}
                    {{ homepageSectionHeadingEN }}
                {% endif %}
            </h1>
            <ul class="product-list row grid">
                {% for item in itemListTop %}
                    <li class="col-xs-12 col-sm-6 col-md-3">
                        {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                    </li>
                {% endfor %}
            </ul>
</div>
{% endblock %}