{% extends 'Ceres::Homepage.Homepage' %}
{% set lang         = services.sessionStorage.getLang() %}

{% set homepageTopsellerID  = config("CeresRockstar.homepage.homepageTopsellerID") %}
{% set homepageHeadlineDE  = config("CeresRockstar.homepage.homepageHeadlineDE") %}
{% set homepageHeadlineEN  = config("CeresRockstar.homepage.homepageHeadlineEN") %}
{% set homepageSublineDE  = config("CeresRockstar.homepage.homepageSublineDE") %}
{% set homepageSublineEN  = config("CeresRockstar.homepage.homepageSublineEN") %}
{% set homepageSectionHeadingDE  = config("CeresRockstar.homepage.homepageSectionHeadingDE") %}
{% set homepageSectionHeadingEN  = config("CeresRockstar.homepage.homepageSectionHeadingEN") %}

{% set itemSort             = request.get("sorting") %}
{% set orderBy              = itemSort[0] %}
{% set variationShowType    = config("Ceres.item.variation_show_type") %}
{% set categoryParams = {
'variationShowType' : config("Ceres.item.variation_show_type"),
'itemsPerPage'      : request.get("items") | default( config('Ceres.pagination.defaultItemsPerPage') ),
'orderBy'           : itemSort,
'facetParams'       : request.get("facets")
} %}

{% set page = request.get("page") | default(1) %}

{% set itemsPerPage = config("Ceres.pagination.defaultItemsPerPage") %}
{% if request.get("items") %}
    {% set itemsPerPage = request.get("items") %}
{% endif %}

{% set paginatedResult      = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.categoryList, {'categoryId':17, 'page':1, 'items':8, 'facets': facetParams, 'sorting': itemSort}) %}

{% set itemList             = paginatedResult.documents %}
{% set paginationType       = config("Ceres.pagination.position") %}

{% block ThemeHomepage %}

    <!-- {{ paginatedResult.documents | json_encode }} -->
    <resource name="facetParams" :data="[]"></resource>
    <resource name="facets" :data="{{ paginatedResult.facets | json_encode }} || []"></resource>
    <resource name="itemList" :data="{ total: {{  paginatedResult.total | json_encode() }} }"></resource>

<div class="home container-max">

    <div class="row teaser">
        <div class="col-xs-12 text-xs-center">
            <i class="fa fa-bolt fa-5x" aria-hidden="true"></i>
            <h1>
                {% if services.sessionStorage.getLang() == "de" %}
                    {{ homepageHeadlineDE }}
                {% elseif services.sessionStorage.getLang() == "en" %}
                    {{ homepageHeadlineEN }}
                {% endif %}
            </h1>
            <h3>
                {% if services.sessionStorage.getLang() == "de" %}
                    {{ homepageSublineDE }}
                {% elseif services.sessionStorage.getLang() == "en" %}
                    {{ homepageSublineEN }}
                {% endif %}
            </h3>
        </div>
    </div>
    <div class="row page-content categoriegrid">
        <div class="col-xs-12 p-y-2">
            <h1 class="m-b-2">
                {% if services.sessionStorage.getLang() == "de" %}
                    {{ homepageSectionHeadingDE }}
                {% elseif services.sessionStorage.getLang() == "en" %}
                    {{ homepageSectionHeadingEN }}
                {% endif %}
            </h1>
            <ul id="twig-rendered-item-list" class="product-list row grid">
                {% for item in itemList %}
                    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}