{% extends 'Ceres::Homepage.Homepage' %}
{% set lang = services.sessionStorage.getLang() %}

{% set homepageFirstSlideTitleDE  = config("CeresDark.homepage.homepageFirstSlideTitleDE") %}
{% set homepageFirstSlideTitleEN  = config("CeresDark.homepage.homepageFirstSlideTitleEN") %}
{% set homepageFirstSlideImgUrl  = config("CeresDark.homepage.homepageFirstSlideImgUrl") %}
{% set homepageFirstSlideLink  = config("CeresDark.homepage.homepageFirstSlideLink") %}

{% set homepageSecondSlideTitleDE  = config("CeresDark.homepage.homepageSecondSlideTitleDE") %}
{% set homepageSecondSlideTitleEN  = config("CeresDark.homepage.homepageSecondSlideTitleEN") %}
{% set homepageSecondSlideImgUrl  = config("CeresDark.homepage.homepageSecondSlideImgUrl") %}
{% set homepageSecondSlideLink  = config("CeresDark.homepage.homepageSecondSlideLink") %}

{% set homepageExtraHero1TitleDE = config("CeresDark.homepage.homepageExtraHero1TitleDE") %}
{% set homepageExtraHero1TitleEN = config("CeresDark.homepage.homepageExtraHero1TitleEN") %}
{% set homepageExtraHero1ImgUrl = config("CeresDark.homepage.homepageExtraHero1ImgUrl") %}
{% set homepageExtraHero1Link = config("CeresDark.homepage.homepageExtraHero1Link") %}

{% set homepageExtraHero2TitleDE = config("CeresDark.homepage.homepageExtraHero2TitleDE") %}
{% set homepageExtraHero2TitleEN = config("CeresDark.homepage.homepageExtraHero2TitleEN") %}
{% set homepageExtraHero2ImgUrl = config("CeresDark.homepage.homepageExtraHero2ImgUrl") %}
{% set homepageExtraHero2Link = config("CeresDark.homepage.homepageExtraHero2Link") %}

{% set homepageSale2TitleDE = config("CeresDark.homepage.homepageSale2TitleDE") %}
{% set homepageSale2TitleEN = config("CeresDark.homepage.homepageSale2TitleEN") %}
{% set homepageSaleImgUrl = config("CeresDark.homepage.homepageSaleImgUrl") %}
{% set homepageSaleLink = config("CeresDark.homepage.homepageSaleLink") %}

{% set homepageFeatCat1TitleDE = config("CeresDark.homepage.homepageFeatCat1TitleDE") %}
{% set homepageFeatCat1TitleEN = config("CeresDark.homepage.homepageFeatCat1TitleEN") %}
{% set homepageFeatCat1ImgUrl = config("CeresDark.homepage.homepageFeatCat1ImgUrl") %}
{% set homepageFeatCat1Link = config("CeresDark.homepage.homepageFeatCat1Link") %}

{% set homepageFeatCat2TitleDE = config("CeresDark.homepage.homepageFeatCat2TitleDE") %}
{% set homepageFeatCat2TitleEN = config("CeresDark.homepage.homepageFeatCat2TitleEN") %}
{% set homepageFeatCat2ImgUrl = config("CeresDark.homepage.homepageFeatCat2ImgUrl") %}
{% set homepageFeatCat2Link = config("CeresDark.homepage.homepageFeatCat2Link") %}

{% set homepageNewTitleDE = config("CeresDark.homepage.homepageNewTitleDE") %}
{% set homepageNewTitleEN = config("CeresDark.homepage.homepageNewTitleEN") %}
{% set homepageNewId = config("CeresDark.homepage.homepageNewId") %}

{% set homepageTopsellerTitleDE = config("CeresDark.homepage.homepageTopsellerTitleDE") %}
{% set homepageTopsellerTitleEN = config("CeresDark.homepage.homepageTopsellerTitleEN") %}
{% set homepageTopsellerId = config("CeresDark.homepage.homepageTopsellerId") %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set paginatedResultNew      = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.categoryList, {'categoryId':homepageNewId, 'page':1, 'items':4, 'facets': facetParams, 'sorting': itemSort}) %}

{% set paginatedResultTop      = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.categoryList, {'categoryId':homepageTopsellerId, 'page':1, 'items':4, 'facets': facetParams, 'sorting': itemSort}) %}


{% set itemListNew             = paginatedResultNew.documents %}
{% set itemListTop             = paginatedResultTop.documents %}


{% block ThemeHomepage %}

{{ component( "Ceres::ItemList.Components.ItemList") }}
{{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
{{ component( "Ceres::Basket.Components.AddToBasket" ) }}

<div class="home container-max page-content">
    
    <div class="cmp cmp-hero">

        <div class="hero-main">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <a class="hero-category" href="{{ homepageFirstSlideLink }}">
                            <img src="{{ homepageFirstSlideImgUrl }}" alt="{{ homepageFirstSlideTitleDE }}" class="img-fluid">
                            <div class="hero-category-inner">
                                <h4 class="hero-category-headline">
                                    {% if lang == "de" %}
                                        {{ homepageFirstSlideTitleDE }}
                                    {% elseif lang == "en" %}
                                        {{ homepageFirstSlideTitleEN }}
                                    {% endif %}
                                </h4>
                                <div class="hero-category-cta">
                                    {% if lang == "de" %}
                                        Ansehen
                                    {% elseif lang == "en" %}
                                        Show
                                    {% endif %}
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a class="hero-category" href="{{ homepageSecondSlideLink }}">
                            <img src="{{ homepageSecondSlideImgUrl }}" alt="{{ homepageSecondSlideTitleDE }}" class="img-fluid">
                            <div class="hero-category-inner">
                                <h4 class="hero-category-headline">
                                    {% if lang == "de" %}
                                        {{ homepageSecondSlideTitleDE }}
                                    {% elseif lang == "en" %}
                                        {{ homepageSecondSlideTitleEN }}
                                    {% endif %}
                                </h4>
                                <div class="hero-category-cta">
                                    {% if lang == "de" %}
                                        Ansehen
                                    {% elseif lang == "en" %}
                                        Show
                                    {% endif %}
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                </ol>

            </div>
        </div>

        <div class="hero-xtras">
            <a class="hero-category" href="{{ homepageExtraHero1Link }}">
                <img src="{{ homepageExtraHero1ImgUrl }}" alt="{{ homepageExtraHero1TitleDE }}">
                <div class="hero-category-inner">
                    <h4 class="hero-category-headline">
                        {% if lang == "de" %}
                            {{ homepageExtraHero1TitleDE }}
                        {% elseif lang == "en" %}
                            {{ homepageExtraHero1TitleEN }}
                        {% endif %}
                    </h4>

                </div>
            </a>
            <a class="hero-category" href="{{ homepageExtraHero2Link }}">
                <img src="{{ homepageExtraHero2ImgUrl }}" alt="{{ homepageExtraHero2TitleDE }}">
                <div class="hero-category-inner">
                    <h4 class="hero-category-headline">
                        {% if lang == "de" %}
                            {{ homepageExtraHero2TitleDE }}
                        {% elseif lang == "en" %}
                            {{ homepageExtraHero2TitleEN }}
                        {% endif %}
                    </h4>

                </div>
            </a>
        </div>

    </div>

    <!-- SALE -->
    <div class="row prop-row m-y-2">
        <div class="col-xs-12">
            <div class="prop-xs-2-1 prop-sm-4-1 prop-md-6-1">
                <div class="prop-inner">
                    <a class="featured-sale" href="{{ homepageSaleLink }}">
                        <img src="{{ homepageSaleImgUrl }}" alt="{{ homepageSale2TitleDE }}">
                        <div class="featured-category-inner">
                            <h4 class="featured-category-headline">
                                {% if lang == "de" %}
                                    {{ homepageSale2TitleDE }}
                                {% elseif lang == "en" %}
                                    {{ homepageSale2TitleEN }}
                                {% endif %}
                            </h4>

                        </div>
                    </a>
                </div>
            </div>
        </div>    
    </div>

    <!-- END SALE -->

    <div class="m-b-2">
        <h4 class="section-header">
            {% if lang == "de" %}
                {{ homepageNewTitleDE }}
            {% elseif lang == "en" %}
                {{ homepageNewTitleEN }}
            {% endif %}
        </h4>
        <!-- crosssell start -->
        <div class="row">
            <div class="col-xs-12">
                <ul class="product-list row grid">
                    {% for item in itemListNew %}
                        <li class="col-xs-12 col-sm-6 col-md-3">
                            {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- CATEGORIES -->

    <div class="row prop-row m-b-2">
        <div class="col-xs-12 col-md-8">
            <div class="prop-xs-2-1">
                <div class="prop-inner">
                    <a class="featured-category" href="{{ homepageFeatCat1Link }}">
                        <img src="{{ homepageFeatCat1ImgUrl }}" alt="{{ homepageFeatCat1TitleDE }}">
                        <div class="featured-category-inner">
                            <h4 class="featured-category-headline">
                                {% if lang == "de" %}
                                    {{ homepageFeatCat1TitleDE }}
                                {% elseif lang == "en" %}
                                    {{ homepageFeatCat1TitleEN }}
                                {% endif %}
                            </h4>

                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="prop-xs-2-1 prop-md-1-1">
                <div class="prop-inner">
                    <a class="featured-category" href="{{ homepageFeatCat2Link }}">
                        <img src="{{ homepageFeatCat2ImgUrl }}" alt="{{ homepageFeatCat2TitleDE }}">
                        <div class="featured-category-inner">
                            <h4 class="featured-category-headline">
                                {% if lang == "de" %}
                                    {{ homepageFeatCat2TitleDE }}
                                {% elseif lang == "en" %}
                                    {{ homepageFeatCat2TitleEN }}
                                {% endif %}
                            </h4>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    
        
    </div>

    <!-- END CATEGORIES -->

    <div class="m-b-2">
        <h4 class="section-header">
            {% if lang == "de" %}
                {{ homepageTopsellerTitleDE }}
            {% elseif lang == "en" %}
                {{ homepageTopsellerTitleEN }}
            {% endif %}
        </h4>
        <!-- crosssell start -->
        <div class="row">    
            <div class="col-xs-12">
               <ul class="product-list row grid">
                    {% for item in itemListTop %}
                        <li class="col-xs-12 col-sm-6 col-md-3">
                            {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}